.vimrc.bak
.vim/autoload/*
!.vim/autoload/.gitkeep
.vim/colors/*
!.vim/colors/.gitkeep
.vim/plugged/
!.vim/plugged/.gitkeep
.ghq/*
!.ghq/.gitkeep
.aider*

# Sensitive files
.gitconfig
.aws/
.ssh/
.zsh_history
